SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sowyourseed@christgarden.church
SMTP_PASSWORD=
SMTP_FROM=sowyourseed@christgarden.church
IMAP_HOST=imap.hostinger.com
IMAP_PORT=993
IMAP_SECURE=true
IMAP_USER=sowyourseed@christgarden.church
IMAP_PASSWORD=
SUPABASE_URL=https://qsplyclmqwndqjctgakm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
